
.beauty-icon {
    height: 45px;
    width: 40px;
    display: inline-block;
    cursor: pointer;
}

img {
    width: 100%;
}

.beauty-icon:hover {}

.countries li {
    display: inline-block;
    padding-left: 1em;
    padding-top: 1em;
    text-align: center;
}

.countries li:hover {
    color: black;
    cursor: pointer;
    align: center;
    font-weight: bold;
}

.countries li.selected {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.tmp {
    margin-left: -15px;
}

.form {
    display: inline-block;
    text-align: center;
}

ul {
    background-color: #D8DBEC;
    border-radius: 25px;
    opacity: 0.91;
    filter: alpha(opacity=50);
}

.submit-btn {
    background-color: #D8DBEC;
    margin-left: 40px;
    margin-top: 15px;
    border-radius: 9px;
}

.container-fluid {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.col-md-2 {
    margin-top: 150px;
}

.col-md-5 {
    margin-top: -70px;
}

.hand {
    width: 150px;
    height: 270px;
    margin-left: 490px;
    bottom: 0;
    right: 100;
    margin-top: -90px;
}

@media screen and (min-height: 768px) {
    .hand {
        height: 300px;
        width: 150px;
        margin-top: 40px;
        margin-left: 510px;
    }
}