<div class="container-fluid">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-3 tmp">
            <currency-show-detail [firstCountry]="selectedCountry" [secondCountry]="selectedCountrySecond"></currency-show-detail>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<div class="container-fluid">

    <div class="row currency-data">
        <p>Info ( 1$ = 26,43↓UAH)</p>
    </div>
    <div class="row">
        <div class="col-md-5">
            <ul class="countries">
                <li *ngFor="let country of countries" [class.selected]="country === selectedCountry" (click)="onSelect(country)">
                    <p>{{country.name | uppercase}}</p>
                    <a class="beauty-icon">
                        <img src="https://currencyz.today/includes/flags/{{country.name}}.svg" width="25" height="25">
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-2 form">
            <input type="number" [(ngModel)]="count" placeholder="Enter count" required>
            <button type="submit" class="submit-btn" (click)="convert(asa)">Convert</button>
            <div *ngIf="totalSum">
                <h1> {{totalSum}}</h1>
            </div>

        </div>
        <div class="col-md-5">
            <ul class="countries">
                <li *ngFor="let country of countries" [class.selected]="country === selectedCountrySecond" (click)="onSelectSecond(country)">
                    <p>{{country.name | uppercase}}</p>
                    <a class="beauty-icon">
                        <img src="https://currencyz.today/includes/flags/{{country.name}}.svg" width="25" height="25">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="axis">
    <img class="object hand" src="images/cut.png"/>
</div>