
<div class="col-md-8">
  
  <!-- begin macbook pro mockup -->
  <div class="md-macbook-pro md-glare">
    <div class="md-lid">
      <div class="md-camera"></div>
      <div class="md-screen">
        <!-- content goes here -->
        <div class="tab-featured-image">
          <div class="tab-content">
            <div class="tab-pane  in active" id="tab1">
              <form class="form-horizontal login">
                <span class="heading">Авторизація</span>
                <div class="form-group">
                  <input type="email" class="form-control" id="inputEmail" placeholder="E-mail">
                  <i class="fa fa-user"></i>
                </div>
                <div class="form-group help">
                  <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                  <i class="fa fa-lock"></i>
                  <a href="#" class="fa fa-question-circle"></a>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-default">Вхід</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="md-base"></div>
  </div>