<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--<a class="navbar-brand" href="#">Конвертор Валют</a>-->
            <a class="navbar-brand"></a>
        </div>
        <ul class="nav navbar-nav">
            <!--<div class="dropdown">
    <div class="dropdown-content">
    <img src="images/money.jpg" alt="Trolltunga Norway" width="20" height="40">
    <div class="desc">Beautiful Trolltunga, Norway</div>
   </div>
  -->
            <li><a class="mdl-navigation__link" [routerLink]="['/']">Money</a></li>
            <li><a class="mdl-navigation__link" [routerLink]="['/country']">Convertor</a></li>
           
            
        </ul>
        <ul class="nav navbar-nav navbar-right">
             <li><a class="mdl-navigation__link" [routerLink]="['login']">LOGIN</a></li>
        </ul>
    </div>
</nav>
<!-- Router Outlet -->
<div class="container">
    <router-outlet></router-outlet>
</div>