.beauty-icon {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.countries li {
  display: inline-block;
  padding-left: 1em;
  padding-top: 1em;
}

.countries li.selected {
  background-color: #CFD8DC;
  color: white;
}

.tmp {
  margin-left: -10px;
}


/*
1.Зробити список країн інлайн(горизонтальний список) - ok
2.Придумати як зробити таких 2 панельки(з країнами)||Замутити 2 селектедКаунтрі
3.Заінклюдити сервіс(з хттп)
4.
*/

.navbar {
  border-radius: 0px;
}

.navbar-brand {
  background: url(images/log.jpg) center / contain no-repeat;
  width: 188px;
  height: 110px;
}

.navbar-brand:hover {
  background: url(images/log_hover.jpg) center / contain no-repeat;
  width: 188px;
  height: 110px;
}

.navbar-inverse:hover {
  opacity: 0.7;
  filter: alpha(opacity=50);
}

.navbar-right {
  margin-right: 19px;
}

.nav.navbar-nav li a {
  color: #919192;
  font-size: 17px;
  top: 30px;
}

.nav.navbar-nav li a:hover {
  color: #DDC7A4;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.navbar-inverse {
  background: #000000;
}

li {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.jumbotron {
  background: none;
  opacity: 0.8;
  filter: alpha(opacity=50);
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-top: 100px;
}

.jumbotron:hover {
  background: none;
  opacity: 4.5;
  filter: alpha(opacity=50);
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.jumbotron p {
  font-size: 2em;
}

.thumbnail {
  text-decoration: none;
}