.info-country div {
    display: inline-block;
}

.info-country h2 {
    text-align: center;
    left: 50%;
    font-size: 2em;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #C785A0
}

img {
    display: inline-block;
}