<div class="row info-country">
    <div *ngIf="firstCountry">
        <h2>From
            <img src="https://currencyz.today/includes/flags/{{firstCountry.name}}.svg" width="65" height="65"> ->
        </h2>
    </div>
    <div *ngIf="secondCountry">
        <h2> to <img src="https://currencyz.today/includes/flags/{{secondCountry.name}}.svg" width="65" height="65"></h2>
    </div>
</div>