/*CAROUSEL*/

.carousel {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  opacity: 0.91;
  filter: alpha(opacity=50);
  border-radius: 5px;
}

.slides {
  list-style: none;
  position: relative;
  width: 300%;
  animation: carousel 30s infinite;
}

img {
  border-radius: 5px;
}

.slides li {
  position: relative;
  float: left;
  width: 33.3333%;
}

.carousel h2 {
  font-size: 2em;
  padding: 0.1em;
  position: absolute;
  text-align: center;
  color: black;
  background-color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  opacity: 0.91;
  filter: alpha(opacity=50);
}

@keyframes carousel {
  0% {
    left: 0;
  }
  11% {
    left: 0;
  }
  22% {
    left: -100%;
  }
  33% {
    left: -100%;
  }
  44% {
    left: -200%;
  }
  55% {
    left: -200%;
  }
  66% {
    left: -100%;
  }
  77% {
    left: -100%;
  }
  88% {
    left: 0;
  }
  99% {
    left: 0;
  }
}

h1 {
  color: black;
  transition: all 1s;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: ##D2D5E8;
  border-radius: 5px;
  padding: 0.1em;
  opacity: 0.91;
  filter: alpha(opacity=50);
}

h2 {
  background-color: #D2D5E8;
  font-size: 35px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: black;
  opacity: 0.91;
  filter: alpha(opacity=50);
  text-align: center;
  padding: 0.1em;
}

marquee {
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 35px;
}

hr {
  height: 1px;
  border: 0;
}


/*END*/


/*GREED BLOG*/

.grid {
  margin-top: 60px;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  width: 33%;
  float: left;
  top: 0px;
  left: 0px;
  overflow: hidden;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
}

.grid-item .wrap-article {
  border: 1px solid rgba(129, 129, 129, 0.1);
  background: white;
  padding: 30px 20px;
  opacity: 0.91;
  filter: alpha(opacity=50);
  border-radius: 5px;
}

.grid-item .wrap-article img {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.grid-item .wrap-article .img-circle {
  width: 230px;
  height: 200px;
  border-radius: 50%;
}

.img-circle:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  border: 0;
}

.img-circle2 {
  width: 250px;
  height: 140px;
  border-radius: 20%;
}

.img-circle2:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.grid-item .wrap-article .fancy {
  line-height: 0.5;
  text-align: center;
  font-size: 16px;
  margin-top: 40px;
  color: #818181;
}

.grid-item .wrap-article .fancy span {
  display: inline-block;
  position: relative;
}

.grid-item .wrap-article .fancy span:before, .grid-item .wrap-article .fancy span:after {
  content: "";
  margin-top: 1px;
  position: absolute;
  height: 5px;
  border-top: 1px solid #dedede;
  top: 0;
  width: 60%;
}

.grid-item .wrap-article .fancy span:before {
  right: 100%;
  margin-right: 5px;
}

.grid-item .wrap-article .fancy span:after {
  left: 100%;
  margin-left: 5px;
}

.grid-item .wrap-article .title {
  font-size: 16px;
  padding: 0 10px 0 10px;
  text-align: center;
  letter-spacing: 0.1;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
}

.grid-item .wrap-article .title:after {
  content: "";
  display: block;
  margin: 0 auto;
  bottom: -20px;
  height: 1px;
  background: #D0D2E7;
  width: 48px;
  left: 0;
  margin-top: 30px;
}

.grid-item .wrap-article .content-blog {
  margin-top: 30px;
  padding: 0 10px 0 10px;
  text-align: center;
  color: black;
  font-size: 20px;
}

.content-blog {
  font-family: "Comic Sans MS", cursive, sans-serif;
}


/*END*/


/*Коментарі користувачів*/

.m-b-20 {
  margin-bottom: 20px
}

.quote {
  position: relative;
}

.quote blockquote {
  padding: 0px;
  border: 0;
  margin: 0;
  font-size: 14px;
  font-style: italic;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}

.quote blockquote p {
  color: #fff;
  padding-top: 25px;
  padding-bottom: 45px;
  padding-left: 30px;
  padding-right: 30px;
}

.quote blockquote:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 90px;
  width: 0;
  height: 0;
  border-top: 0.83333em solid #ccc;
  border-right: 0.86667em solid transparent;
}

.quote.green blockquote {
  background-color: #32c5d2;
}

.quote.green blockquote:before {
  border-top-color: #32c5d2;
}

.quote.dark blockquote {
  background-color: #555;
}

.quote.dark blockquote:before {
  border-top-color: #555;
}

.quote-footer {
  margin: 10px 0;
}

.quote-footer .quote-author-img img {
  float: left;
  max-width: 90px;
  width: 90px;
  height: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin-left: -5px;
  margin-top: -40px;
  position: relative;
  z-index: 1;
  padding: 5px;
  background-color: #fff;
}

.quote-footer h4 {
  font-size: 14px;
  margin-bottom: 4px;
}

.quote-footer p {
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
}


/* END*/