<!--CAROUSEL-->
<div class="carousel">
  <ul class="slides">
    <li *ngFor="let image of images">
      <h2>{{image.title}}</h2>
      <img src="{{image.url}}" alt="">
    </li>
  </ul>
</div>
<!--END-->
<!--INFO and GRID CLOG-->
<section class="grey-bg" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title-small-center text-center">
        </h3>
        <div class="row">
          <h2 class="content-details text-center">
            Гро́ші — особливий товар, що є загальною еквівалентною формою вартості інших товарів та послуг. Які цікаві факти про гроші
            світу ви знаєте? В даній підбірці цікавих фактів, ми розглянемо найбільш горячі, спірні та найцікавіші факти
            про гроші
          </h2>
        </div>
        <!--GRID BLOG-->
        <div class="grid">
          <div class="grid-item">
            <div class="wrap-article">
              <img alt="blog1" class="img-circle text-center" src="images/blog-1.png">
              <p class="content-blog">
                Найдорожчою монетою в світі вважається давньогрецька декадрахма, яка була продана на аукціоні в Цюріху за 314 тис. доларів
              </p>
            </div>
          </div>
          <div class="grid-item">
            <div class="wrap-article">
              <img alt="blog2" class="img-circle2 text-center" src="images/blog-2.jpg">
              <p class="content-blog">
                Найбільша доларова купюра була випущена в 1934 році, її номінал становив 100 000 $, вона використовувалася виключно для банківських
                операцій
              </p>
            </div>
          </div>
          <div class="grid-item">
            <div class="wrap-article">
              <img alt="blog3" class="img-circle text-center" src="images/blog-3.png">
              <p class="content-blog">
                До середини XX століття в деяких частинах Африки в якості грошей продовжували використовувати домашню худобу
              </p>
            </div>
          </div>
          <div class="grid-item">
            <div class="wrap-article">
              <img alt="blog4" class="img-circle text-center" src="images/blog-4.jpg">
              <p class="content-blog">
                Троє з 6 найбагатших людей на планеті заробили свій статок, працюючи в IT-сфері
              </p>
            </div>
          </div>
          <div class="grid-item">
            <div class="wrap-article">
              <img alt="blog5" class="img-circle text-center" src="images/blog-5.jpg">
              <p class="subtitle fancy">
                <p class="content-blog">
                  Найбільший рубін важить більше 7 кг
                </p>
            </div>
          </div>
          <div class="grid-item">
            <div class="wrap-article">
              <img alt="blog6" class="img-circle text-center" src="images/blog-6.png">
              <p class="content-blog">
                Шанс стати жертвою вбивства в 3 рази перевищує ймовірність виграшу джек-поту в лотерею
              </p>
            </div>
          </div>
          <div class="grid-item">
            <div class="wrap-article">
              <img alt="blog7" class="img-circle text-center" src="images/blog-7.jpg">
              <p class="content-blog">
                У результаті опитування, 92% респондентів віддали перевагу грошам, замість щасливого кохання на все життя
              </p>
            </div>
          </div>
          <div class="grid-item">
            <div class="wrap-article">
              <img alt="blog8" class="img-circle text-center" src="images/blog-8.jpg">
              <p class="content-blog">
                Кожна банкнота розрахована на 4 тисячі подвійних згинів
              </p>
            </div>
          </div>
          <div class="grid-item">
            <div class="wrap-article">
              <img alt="blog9" class="img-circle text-center" src="images/blog-9.jpg">
              <p class="content-blog">
                Згідно з даними Forbes найбагатші люди світу в середньому досягли 60-річного віку
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--END-->
  <!--Коментарі користувачів-->
  <h2 class="content-details text-center">
    Поки ви читали наші цікаві факти про гроші, державний борг США збільшився на 400000 доларів.
  </h2>
  <br>
  <h2 class="content-details text-center">
    На цьому закінчимо наші факти про гроші, надіюся ваш багаж знань поповнився цікавими фактами і ви зможете їх використати
    у своїх цілях.
  </h2>
  <br>
  <h2 class="content-details text-center">Відгуки користувачів:</h2>
  <br>
</section>
<section class="container">
  <div class="row">
    <div class="col-md-4 m-b-20">
      <div class="quote dark">
        <blockquote>
          <p>Я залишаю хороший відгук мені все сподобалось, надіюсь в мауйбутньому якість не зміниться!</p>
        </blockquote>
      </div>
      <div class="quote-footer text-right">
        <div class="quote-author-img">
          <img src="http://bootstraptema.ru/snippets/icons/2016/mia/6.png" alt="Аватар пользователя">
        </div>
        <h4>Дмитрій</h4>
        <p>
          <strong>Підприємець</strong>
        </p>
      </div>
    </div>
    <!--Отзыв 1-->
    <div class="col-md-4 m-b-20">
      <div class="quote green">
        <blockquote>
          <p>Згідна! Якість на висоті як і доступність в загальному виді!</p>
        </blockquote>
      </div>
      <div class="quote-footer text-right">
        <div class="quote-author-img">
          <img src="http://bootstraptema.ru/snippets/icons/2016/mia/7.png" alt="Аватар пользователя">
        </div>
        <h4>Надя</h4>
        <p>
          <strong>Фінансист</strong>
        </p>
      </div>
    </div>
    <!--Отзыв 2-->
    <div class="col-md-4 m-b-20">
      <div class="quote dark">
        <blockquote>
          <p>І мені допомогли від душі! Респект за повагу до своеї работи і тим хто її використовує в своїх цілях!</p>
        </blockquote>
      </div>
      <div class="quote-footer text-right">
        <div class="quote-author-img">
          <img src="http://bootstraptema.ru/snippets/icons/2016/mia/8.png" alt="Аватар пользователя">
        </div>
        <h4>Елена</h4>
        <p>
          <strong>Менеджер</strong>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 m-b-20">
      <div class="quote dark">
        <blockquote>
          <p>Так тримати! Все на високому рівні!!!</p>
        </blockquote>
      </div>
      <div class="quote-footer text-right">
        <div class="quote-author-img">
          <img src="http://bootstraptema.ru/snippets/icons/2016/mia/9.png" alt="">
        </div>
        <h4>Ніна</h4>
        <p>
          <strong>Комерційний директор</strong>
        </p>
      </div>
    </div>
    <!--Отзыв 4-->
    <div class="col-md-8 m-b-20">
      <div class="quote green">
        <blockquote>
          <p>Довго шукала організацію надаючу подібні послуги. Мені все сподобалось, думаю в майбутньому стану постійним користувачем.
          </p>
        </blockquote>
      </div>
      <div class="quote-footer text-right">
        <div class="quote-author-img">
          <img src="http://bootstraptema.ru/snippets/icons/2016/mia/10.png" alt="">
        </div>
        <h4>Маліка</h4>
        <p>
          <strong>Піар технолог</strong>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- END-->
