body{
  background: url(images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top-in-container {
  text-align: center;
}

.currency-data {
  padding-top: 4em;
  text-align: center;
}

.left-currency {
  display: inline-block;
}

.right-currency {
  display: inline-block;
  margin-left: 50em;
}

.submit-btn {
  margin: auto;
}